.collections {
    background-color: #fafafa;
}
.collections .desc {
    margin-top: 20px;
    color: #9D9D9D;
}
.collections .list-product {
    margin-top: 70px;
}
.collections .list-product .prd {
    margin-bottom: 50px;
}
.collections .img {
    width: 100%;
    height: 250px;
    padding: 15px;
    background-color: #e4e8eb;
    position: relative;
}
.collections .img .top {
    border-bottom: 1px solid #bdc1c4;
    display: flex;
    align-items: center;
}
.collections .img .top p {
    width: 50%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
    color: #54585b;
    font-weight: 600;
}

.collections .img .bottom {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.collections .img .bottom p {
    font-size: 105px;
    margin-bottom: 0;
}

.collections .tile {
    margin-top: 15px;
}
.collections .name {
    margin-bottom: 0;
}
.collections .price {
    margin-top: 5px;
    margin-bottom: 10px;
}
.collections .sold-out {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 2px;
    font-size: 13px;
}