.pre-order .section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0
}

.pre-order .section h6 {
    margin-bottom: 0px;
    font-weight: 600;
}

@media only screen and (max-width: 480px) {
    .pre-order .section {
        text-align: center;
    }
}