.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.footer a {
    font-size: 13px;
    font-weight: 600;
}
.footer .item {
    justify-content: center;
    display: flex;
}
.footer .soc {
    border-bottom: 1px solid #dddddd;
    padding-top: 74px;
    margin-bottom: 31px;
}
.footer .social {
    justify-content: center;
    display: flex;
}
.footer .social svg {
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 480px) {
    .footer .item {
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .footer .soc {
        padding-top: 25px;
    }
}